main{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}
.main-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.main-banner img{
    width: calc(100% * 1.5);
    max-width: 600px;
}
.main-article{
    margin: 10px 20px;
}
.main-article h3{
    font-size: 0.6rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-article h1{
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 0; 
}
.main-article p{
    font-size: 0.6rem;
}
@media (min-width: 700px){
    .main-banner img{
        min-width: calc(100% - 40px);
    }
    .main-article{
        padding: 0 40px;
    }
    .main-article h3{
        font-size: 1.2rem;
    }
    .main-article h1{
        font-size: 2rem;
    }
    .main-article p{
        font-size: 1.2rem;
    }
}