:root{
    --main-color: #feffde;
    --secondary-color: #ddffbc;
    --base-green: #91c788;
    --call-to-action: #52734d; 
    --nav-bar: #48cfad;
    --poster: #e6e9ed;
    --footer: #22272d;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
}
.social-media{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: var(--nav-bar);
    justify-content: flex-end;
    align-items: center;
}
.social-media__container img{
    margin: 2px;
    width: 30px;
}
.nav-bar{
    display: flex;
    padding: 0 20px;
    height: 80px;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
}
.nav-bar__logo img{
    margin-left: -20px;
    height: 55px;
}
.nav-bar__profile a{
    color: black;
    text-decoration: none;
    text-decoration: underline;
    font-size: 0.9rem;
}
main{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}
.main__poster{
    display: grid;
    grid-template: 2fr 1fr / repeat(1, 1fr);
    width: 100%;
    height: auto;
    background-color: var(--poster);
}
.poster-img__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poster-img__container h1{
    font-size: 1.2rem;
    padding: 3px;
}
.poster-img__container img{
    margin: 10px;
    width: calc(100% / 1.1);
    max-width: 545px;
}
.poster-img__description{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.poster-img__description h2{
    font-size: 1rem;
    padding: 3px;
}
.poster-img__description p{
    font-size: 0.6rem;
    padding: 7px 3px;
}
.poster-img__description button{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--nav-bar);
    margin: 3px;
    padding: 5px;
}
.poster-img__description a{
    font-size: 0.6rem;
    text-decoration: none;
    color: black;
}
.main__title h3{
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
}
.main__gallery{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    width: calc(100% - 40px);
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.gallery__card-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.gallery__card-img img{
    width: calc(100% / 1.3);
    max-width: 462px;
    margin: 10px 0;
}
.gallery__card-img p{
    margin: 5px;
    font-size: 0.6rem;
}
.gallery__card-img button{
    background-color: transparent;
    border: solid 1px var(--nav-bar);
    padding: 6px;
    margin: 6px;
}
.gallery__card-img a{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer_up{
    background-color: var(--nav-bar);
    height: 20px;
}
.footer_down{
    display: flex;
    flex-direction: column;
    background-color: var(--footer);
    text-align: center;
    color: var(--main-color);
    height: 30px;
    justify-content: center;
    font-size: 0.7rem;
}