:root{
    --main-color: #feffde;
    --secondary-color: #ddffbc;
    --base-green: #91c788;
    --call-to-action: #52734d; 
    --nav-bar: #48cfad;
    --poster: #e6e9ed;
    --footer: #22272d;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
}
.social-media{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: var(--nav-bar);
    justify-content: flex-end;
    align-items: center;
}
.social-media__container img{
    margin: 2px;
    width: 30px;
}
.nav-bar{
    display: flex;
    padding: 0 20px;
    height: 80px;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
}
.nav-bar__logo img{
    margin-left: -20px;
    height: 55px;
}
.nav-bar__profile a{
    color: black;
    text-decoration: none;
    text-decoration: underline;
    font-size: 0.9rem;
}

@media (min-width: 700px){
    .nav-bar__profile a{
        font-size: 1.3rem;
    }
    .social-media__container img{
        margin: 0 10px;
    }
}